<!DOCTYPE html>
<html lang="en">
<head>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/materialize.ejs') %>
    <title><%=title%></title>
</head>
<body>
    <div class="row">
        <div class="col s12">
            <div class="card black center">
                <div class="card-content white-text">
                <span class="card-title">Positive Review</span>
                <% if(reviews != null){ %>
                    <p id="untranslated_text"><%= reviews[0].review %></p>
                <% } %>
                </div>
                <div class="card-action">
                <a class="waves-effect waves-light btn red" href="#"><i class="material-icons left">autorenew</i>Get A Different Review</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <form method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="trini_translation" class="materialize-textarea"></textarea>
                    <label for="trini_translation">Trini Translation</label>
                </div>
                <div class="center-align col s12">
                    <button onclick="getText()" class="btn green white-text">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    
    <script src="js/home.js"></script>
</body>
</html>